<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${article.id} 번째 게시글|"></title>
</head>
<body>
    <h1 th:text="${article.title}"></h1>
    <h3 th:text="${article.writer}"></h3>
    <h4 th:text="${article.createdAt}"></h4>
    <h4 th:text="${article.updatedAt}"></h4>

    <p th:text="${article.content}">
    </p>

    <button><a href="#">수정</a></button>
    <button><a href="#">삭제</a></button>
<!--    https://github.com/sinam7/Bulletin-Board/blob/master/src/main/resources/templates/article/articleView.html#L34-->
</body>
</html>