<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="|${article.id} 번째 게시글|"></title>
</head>
<body>
    <h1 th:text="${article.title}"></h1>
    <h3 th:text="${article.writer}"></h3>
    <h4 th:text="${article.createdAt}"></h4>
    <h4 th:text="${article.updatedAt}"></h4>

    <p th:text="${article.content}">
    </p>

    <form th:action="|/articles/validatePassword/${article.id}|" method="post">
        <div>
            <label for="password_for_update">수정 비밀번호: </label>
            <input type="password" id="password_for_update" name="password">
        </div>
        <button type="submit">수정</button>
    </form>

    <form th:action="|/articles/delete/${id}|" method="post">
        <div>
            <label for="password_for_delete">삭제 비밀번호: </label>
            <input type="password" id="password_for_delete" name="password">
        </div>
        <button type="submit">삭제</button>
    </form>
<!--    https://github.com/sinam7/Bulletin-Board/blob/master/src/main/resources/templates/article/articleView.html#L34-->
</body>
</html>